.project-health-widget
  form, .form-group
    margin-bottom 0
  .versions
    width 15em
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0

  .chart
    width 100%
  .runners
    span
      vertical-align middle
  .info
    div
      margin-bottom 10px
    .run-date
      margin-top 15px
  form
    margin-top 10px
