/.bundle
/.env*
/.grunt
/.vagrant
/_SpecRunner.html
/ansible/deploy*
/ansible/production-inventory
/bower_components
/client/bower_components
/client/node_modules
/client/public
/client/vendor
/db/test.*
/doc/*.html
/docker/app/Gem*
/docker/dev/Gem*
/docker-compose.yml
/local
/log/*.log
/node_modules
/public/*
!/public/.keep
/rerun.txt
/tmp
.idea/
