/.bundle
/.grunt
/_SpecRunner.html
/config/database.yml
/config/redis.yml
/config/ldap.yml
/config/rox-center.yml
/config/initializers/app_secrets.rb
/config/initializers/ldap.rb
/db/test.*
/doc/app
/local
/log
/node_modules
/public/assets
/tmp
/vendor
