.dashboard-header
  .member-count
    margin-left 0.6em

.new-tests-line-chart
  form, .form-group
    margin-bottom 0
  .projects
    width 15em
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0
