.dashboard-header
  .member-count
    margin-left 0.6em

.recent-activity
  .list-group
    margin-bottom 0
  .loading, .empty
    margin 50px 0
    text-align center
  .singleRunner
    .name
      margin-left 0.2em
  .singleRunner, .multipleRunners
    span
      vertical-align middle
  .labels
    margin-left 0.4em
  .details
    margin-top 0.4em

.dashboardTagCloud
  .cloud
    height 300px
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0

.new-tests-line-chart
  form, .form-group
    margin-bottom 0
  .projects
    width 15em
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0
