body
  padding-top 70px
  padding-bottom 90px

#footer
  p, a
    color #777777

.page-header
  margin-top 0

.nav-tabs
  margin-bottom 1em

.clear
  clear both

.nav
  #login, #register, #logout
    margin-right 1em
