passed-color = #62c462
failed-color = #ee5f5b
inactive-color = #fbb450
deprecated-color = #7a7a7a

.passedTest
  background-color passed-color
  &:hover
    background-color #82e482
.failedTest
  background-color failed-color
  &:hover
    background-color #fe7f7b
.inactiveTest
  background-color inactive-color
  &:hover
    background-color #ffd470
.deprecatedTest
  background-color deprecated-color
  &:hover
    background-color #9a9a9a
