.test-execution-time-widget
  .form-group
    margin-bottom 0

  .chart-row, .stats-row
    margin-bottom 10px

    .chart-container
      margin 0 5px -15px 5px

    table
      width 100%


      td
        vertical-align middle

        button
          font-size 1.5em

          &:focus
            outline none

          &:active
            box-shadow none

          &:hover
            color #446e9b

      tr:first-of-type
        td:nth-child(1), td:nth-child(6)
          width 10%
        td:nth-child(2), td:nth-child(5)
          width 35%
        td:nth-child(3)
          width 5%
        td:nth-child(4)
          width 15%
