%h1= t('.title')
.row
  .col-md-4{ data: { module: :maintenanceControls } }
  .col-md-4{ data: { module: :purge, config: @purge_config.to_json } }
  .col-md-4{ data: { module: :testCountersManager, config: @test_counters_config.to_json } }
