%h1= t('.title')
#globalSettings{ data: { module: :globalSettings } }
.menuLinksManager{ data: { module: :menuLinksManager, config: @links.to_json } }
.linkTemplates{ data: { module: :linkTemplates, config: @link_templates_config.to_json } }
