@import '../../styles/mixins.css.styl'

#user-list-page
  .filters
    margin-bottom 0
    margin-top 15px
    padding 15px

  .tab-content
    margin-top 1em
  table
    thead
      tr
        th
          vertical-align middle
    tbody
      tr
        td
          vertical-align middle
          &.avatar
            width 30px
          &.actions
            width 4em
            text-align center

          .active
            color passed-color
          .inactive
            color failed-color
