@import '../../styles/mixins.css.styl'

.resque-stats
  .row
    p
      margin-bottom 0

  h5:first-of-type
    margin-top 0

  table
    margin-bottom 0

    td, th
      vertical-align middle !important

  .jobs
    width 100%

    td
      vertical-align middle
      padding-right 15px
      font-size 2em
      width 50%

      .glyphicon
        cursor default

    .success
      color passed-color

    .failed
      color failed-color

    .pending
      color inactive-color

  .workers
    justify-content center
    align-items center
    display flex

    span
      font-size 2em
      margin 0 10px

      &.glyphicon
        cursor default

    .available
      .glyphicon
        color passed-color

    .busy
      .glyphicon
        color inactive-color
