.org-top-stats
  .name
    width 30%

  .payloads, .projects, .tests, .results-count, .results-prop
    width 10%

  .results-trend
    width 20%


  table
    margin-bottom 0

    td, th
      vertical-align middle !important