.org-top-stats
  .name
    width 21%

  .payloads, .projects, .tests
    width 13%

  .results-count, .results-prop
    width 10%

  .results-trend
    width 20%

  .db-stats-right-border
    border-right 1px solid lightgray

  table
    margin-bottom 0

    td, th
      vertical-align middle !important