.db-stats
  .row
    p
      margin-bottom 0

  .name
    width 25%

  .rows
    width 10%

  .rows-proportion
    width 10%

  .rows-trend
    width 10%

  td.rows-trend
    padding 10px 0 0 0

  .table-size, .indexes-size, .total-size
    width 12%

  .total-size-proportion
    width 9%

  .db-stats-right-border
    border-right 1px solid lightgray

  .chart-container
    max-width 150px
    max-height 30px
    margin auto

  table
    margin-bottom 0

    td, th
      vertical-align middle !important