.db-stats
  .name
    width 30%

  .rows
    width 10%

  .rows-proportion
    width 10%

  .rows-trend
    width 10%

  td.rows-trend
    padding 10px 0 0 0

  .table-size, .indexes-size, .total-size
    width 11%

  .total-size-proportion
    width 7%

  .db-stats-right-border
    border-right 1px solid lightgray

  table
    margin-bottom 0

    td, th
      vertical-align middle !important