.db-stats
  .row
    p
      margin-bottom 0

  .name
    word-break break-all
    width 25%

  .rows
    width 10%

  .rows-proportion
    width 12%

  .rows-trend
    height 30px
    width 24%

  .total-size
    width 17%

  .total-size-proportion
    width 12%

  .db-stats-right-border
    border-right 1px solid lightgray

  .chart-container
    max-width 150px
    max-height 30px
    margin auto

  .more-tables
    td
      padding 10px 5px !important

  table
    margin-bottom 0

    td, th
      vertical-align middle !important
      padding 0 5px !important