.result-status-icon ng-if='ready'
  span.glyphicon.glyphicon-thumbs-up.passed ng-if='passed' tooltip='Passed' tooltip-append-to-body='true'
  span.glyphicon.glyphicon-thumbs-down.failed ng-if='failed' tooltip='Failed' tooltip-append-to-body='true'
  span.glyphicon.glyphicon-ban-circle.inactive ng-if='active' tooltip='Inactive' tooltip-append-to-body='true'
