.recent-activity-widget
  .list-group
    margin-bottom 0
  .loading, .empty
    margin 50px 0
    text-align center
  .single-runner
    .name
      margin-left 0.2em
  span.single-runner, span.multiple-runners
    vertical-align middle
  .labels
    margin-left 0.4em
  .details
    margin-top 0.4em
  .new-tests
    margin-top 5px
