.recent-activity-widget
  .list-group
    margin-bottom 0
  .loading, .empty
    margin 50px 0
    text-align center
  .singleRunner
    .name
      margin-left 0.2em
  span.singleRunner, span.multipleRunners
    vertical-align middle
    //img
    //  margin-bottom 4px
  .labels
    margin-left 0.4em
  .details
    margin-top 0.4em
  .new-tests
    margin-top 5px
