
.row
  .col-md-6{ data: { module: :maintenanceControls } }
  .col-md-6{ data: { module: :testCountersManager, config: @test_counters_config.to_json } }

#globalSettings{ data: { module: :globalSettings } }

.linksManager{ data: { module: :linksManager, config: @links.to_json } }
