@import '../../styles/mixins.css.styl'

.user-details
  dl
    margin-bottom 0

    dd
      margin-bottom 5px

    dd:last-of-type
      margin-bottom 0

  .active
    color passed-color
    font-size 1.3em
  .inactive
    color failed-color
    font-size 1.3em