.test-data-label
  line-height 2em
  //margin 2px 0
  .label
    padding 0.4em 0.6em

.test-key-label
  font-family Monaco, Monospace
  font-size 1em
  padding 0.1em 0.6em
  border 1px solid #333333
  border-radius 3px
  background-color #eeeeee
  color #222222
  &.copied
    background-color #cccccc
    color #888888
