.org-stats
  .row
    p
      margin-bottom 0

  .name
    width 30%

  .rows-coun12t, .total-count, .rows-prop
    width 11%

  .rows-trend, .total-trend
    width 20%

  .chart-container
    max-width 150px
    max-height 30px
    margin auto

  td.rows-trend, td.total-trend
    padding 10px 0 0 0

  table
    margin-bottom 0

    td, th
      vertical-align middle !important

  .form-group
    margin-bottom 0
    margin-top 10px