.org-top-stats
  .row
    p
      margin-bottom 0

  .name
    width 21%

  .payloads, .projects, .tests
    width 13%

  .results-count, .results-prop
    width 10%

  .results-trend
    width 20%

  .db-stats-right-border
    border-right 1px solid lightgray

  .chart-container
    max-width 150px
    max-height 30px
    margin auto

  table
    margin-bottom 0

    td, th
      vertical-align middle !important
      padding 0 5px !important

  .form-group
    margin-bottom 0
    margin-top 10px