.org-stats
  .name
    width 30%

  .rows-coun12t, .total-count, .rows-prop
    width 11%

  .rows-trend, .total-trend
    width 20%

  table
    td, th
      vertical-align middle !important

  .form-group
    margin-bottom 0