.user-avatar
  display inline
  .glyphicon
    vertical-align middle
    font-size 30px
  &.avatar-lg
    .glyphicon
      font-size 64px
      color #666666
a
  .user-avatar
    .glyphicon
      color #666666
