.test-run-state
  .text-info
    text-align center
  .chart
    width 100%
  .runners
    margin 10px 5px
    span
      vertical-align middle
  .versions
    margin-top 10px
  .run-date
    text-align center
    margin-top 5px
  form
    margin-top 10px
