%h2
  = @project.name
  %small.monospace= @project.api_id
- if can? :manage, Project
  .projectEditor{ data: { module: :projectEditor, config: @project_editor_config.to_json } }
.testsTable{ data: { module: :testsTable, config: { path: tests_page_legacy_api_project_path(@project), search: @test_search_config }.to_json } }
