.projectState-widget
  .node
    border solid 1px white
    line-height 0.95
    overflow hidden
    position absolute
    color #fff
    div
      padding 6px 4%
  .node-tooltip
    position absolute
    z-index 9999
    padding 5px 9px
    color #fff
    font-size 12px
    background rgba(0, 0, 0, 0.85)
    border-radius 3px
    text-align center

.projectState-chart
  height 300px

