.dashboard-header
  .member-count
    margin-left 0.6em

.dashboardLatestReports
  table.table
    margin-bottom 0
    th, td
      &.runs
        width 33%
      &.results
        width 67%
    tbody
      tr
        td
          vertical-align middle
          .time
            margin-left 0.6em

.dashboardTagCloud
  .cloud
    height 300px
  .spinner
    margin 50px auto
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0

.dashboardNewTestMetrics
  .spinner
    margin 50px auto
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0
