.dashboardLatestReports
  table.table
    margin-bottom 0
    th, td
      &.runs
        width 33%
      &.results
        width 67%
    tbody
      tr
        td
          vertical-align middle
          .time
            margin-left 0.6em
