.testKeyGenerator
  h4
    margin-top 0
    font-weight bold
  form
    #keyNumber
      width 5em
    #keyProject
      input, .btn
        width 18em
  .key
    display block
    float left
    margin-right 0.4em
    margin-top 0.2em

.test-key-label
  font-family Monaco, Monospace
  font-size 1em
