.projectTestsWritten
  margin-top 5px

.test-payload-dropzone
  .dropzone
    margin-bottom 1em
  .new-switch
    font-weight normal

.project-health-chart
  form, .form-group
    margin-bottom 0
  .versions
    width 15em
  .empty
    margin 50px 0
    text-align center
    color #c0c0c0
