.apiId.label-info
  margin-left 0.4em

.projectPanel
  .panel-heading
    .btn-group
      margin-left 1em
  .label.apiId
    font-size 1em
  .latest-state
    .text-info
      text-align center
    .chart
      width 100%

.project-contributions
  table
    tbody
      tr
        td
          vertical-align middle


  .project-contributions-name::before
    content ' '