@import '../mixins.css.styl'

.reportHealthBar
  &.progress
    height 20px
    margin-bottom 0
    .progress-bar
      font-size 12px
      line-height 20px

large-progress-bar()
  .progress
    height 20px
    margin-bottom 0
    .progress-bar
      font-size 12px
      line-height 20px

#testReportDetails
  large-progress-bar()
  .summary
    .gravatar
      margin 0 0 10px 10px
  .health
    a
      &.p, &.f, &.i
        display block
        float left
        width 10px
        height 10px
        @media (min-width: 768px)
          width 20px
          height 20px
        margin 0 0 1px 1px
      &.p
        @extend .passedTest
      &.f
        @extend .failedTest
      &.i
        @extend .inactiveTest
    .popover
      .popover-content
        ul
          margin-bottom 0
  .results
    margin-bottom 2em
    h3
      margin-bottom 1em
    .result
      h4
        margin 0
        font-weight bold
      pre
        margin 1em 0 0 0
        max-height 20em

table.latestReports
  margin-top 1em
  th, td
    &.projects
      width 35%
    &.runner
      width 7em
      text-align center
    &.duration
      width 10em
      text-align center
    &.date
      width 16em
      text-align center
  large-progress-bar()
  thead
    tr
      th
        vertical-align middle
        &.results
          button
            margin-left 0.5em
          .text-danger
            font-weight normal
            &.ng-hide-add.ng-hide-add-active,
            &.ng-hide-remove.ng-hide-remove-active
              -webkit-transition all linear 0.5s
              transition all linear 0.5s
            &.ng-hide
              opacity 0
              margin 0 10px
  tbody
    tr
      td
        vertical-align middle
