large-progress-bar()
  .summary
    .gravatar
      margin 0 0 10px 10px
  .progress
    height 20px
    margin-bottom 0
    .progress-bar
      font-size 12px
      line-height 20px

#testReportDetails
  large-progress-bar()
  .results
    margin-bottom 2em
    h3
      margin-bottom 1em

table.reports
  th, td
    &.results
      width 30%
    &.runner
      width 7em
      text-align center
    &.duration
      width 10em
      text-align center
    &.date
      width 16em
      text-align center
  large-progress-bar()
  tbody
    tr
      td
        vertical-align middle
