.tests-by-category-table
  margin-bottom 10px !important

.tests-by-category-td
  border-top none !important
  padding 0 !important
  text-align center

  span
    border-left-style  solid
    border-left-width  6px
    padding 4px 6px
    font-size 1.1em

.tests-by-category-progress
  margin 0