.tests-by-category-widget

  table.category-descriptions
    width 100%
    margin-bottom 10px

    td
      padding 0
      text-align center

      span.category
        border-left-style solid
        border-left-width 6px
        padding 4px 6px
        font-size 1.1em

      &.short
        text-align left
        span.category
          font-size 1em
          padding 0 6px

  .categories-bar
    margin 0

  .show-other-categories
    margin-left 10px

.tests-by-categories-widget-filters
  width 250px

  .ui-select-search
    width 95% !important

  .ui-select-match, .ui-select-match-item
    width 100%
    overflow hidden
    text-overflow ellipsis
    padding-right 5px
    text-align left
