.test-details
  .lead
    margin-bottom 0

  .labels
    margin 5px 0 10px 0

    .label
      margin-right 3px

    .label:last-child
      margin-right 0

    .label::after
      content: ' '

    a
      color white

  dl
    margin-top 0
    margin-bottom 0