.testCountersManager
  .panel-heading
    text-align center
    .disabled
      color #c0c0c0
  tbody
    th
      width 50%
      text-align center
    td
      text-align center
  .panel-footer
    text-align center
