.tests-by-category-table
  margin-bottom 10px !important

.tests-by-category-td
  border-top none !important
  padding 0 !important
  text-align center

  span
    border-left-style  solid
    border-left-width  6px
    padding 4px 6px
    font-size 1.1em

.tests-by-category-progress
  margin 0

.tests-by-category-filters
  width 250px

  .ui-select-search
    width 95% !important

  .ui-select-match, .ui-select-match-item
    width 100%
    overflow hidden
    text-overflow ellipsis
    padding-right 5px
    text-align left
