.test-details
  .lead
    margin-bottom 0

  .labels
    margin 5px 0 10px 0

    .label
      margin-right 3px

    .label:last-child
      margin-right 0

    .label::after
      content: ' '

    a
      color white

  dl
    margin-top 0
    margin-bottom 0

.test-details-status
  font-size 1.5em

.test-details-passed
  color #62c462

.test-details-failed
  color #ee5f5b

.test-details-inactive
  color #fbb450
