.testsTable
  .popover-title
    strong.breaker
      color #8b0000
  .popover-content
    .runLink
      margin-top 0.6em
      margin-bottom 0
  .advancedSearch
    margin-bottom 0.6em
    select
      display none
    .status
      width 10em
    .authors
      width 30em
    .breakers
      width 30em
    .projects
      margin-top 0.4em
      width 25em
    .tags
      margin-top 0.4em
      width 25em
    .categories
      margin-top 0.4em
      width 25em
  table
    width 100%
    clear both
    thead
      th.author
        width 10em
      th.project
        width 14em
      th.createdAt
        width 8em
      th.lastRunAt
        width 8em
      th.lastRunDuration
        width 6em
      th.status
        width 6em
        text-align center
    tbody
      td.status
        text-align center
        .label
          cursor pointer
