.usersList
  .tab-content
    margin-top 1em
  table
    thead
      tr
        th
          vertical-align middle
    tbody
      tr
        td
          vertical-align middle
          &.avatar
            width 30px
          &.actions
            width 4em
            text-align center

.userCreation
  .controls
    text-align center
