#report-list-page
  .filters
    margin-bottom 0
    margin-top 15px
    padding 15px

  table.latest-reports
    margin-top 1em
    th, td
      &.details
        width 35%
      &.runners
        width 12em
        img
          margin 0 3px
      &.duration
        width 10em
        text-align center
      &.date
        width 16em
        text-align center
    .progress
      height 20px
      margin-bottom 0
      .progress-bar
        font-size 12px
        line-height 20px
    thead
      tr
        td
          vertical-align middle
        th
          vertical-align middle
          .form-group
            margin-bottom 0
          &.results
            button
              margin-left 0.5em
            .text-danger
              font-weight normal
              &.ng-hide-add.ng-hide-add-active,
              &.ng-hide-remove.ng-hide-remove-active
                -webkit-transition all linear 0.5s
                transition all linear 0.5s
              &.ng-hide
                opacity 0
                margin 0 10px
    tbody
      tr
        td
          vertical-align middle
          &.runners
            .name
              margin-left 0.2em
            span
              vertical-align middle
