.data-label
  line-height 1.8em
  .label
    vertical-align middle
    padding 0.3em 0.6em

.test-key-label, .api-id-label
  display inline
  font-family Monaco, Monospace
  font-size 1em
  padding 0.1em 0.6em
  border 1px solid #333333
  border-radius 3px
  background-color #eeeeee
  color #222222
  &.copied
    background-color #cccccc
    color #888888

.api-id-label
  font-size .9em
  padding 0.1em 0.3em

.panel-heading
  .data-label
    line-height 0

.source-url
  color white
  &:hover, &:active, &:visited
    color white

.source-dirty
  margin-left 5px
  color orange
