span.data-label uib-tooltip='{{ getTooltip() }}' tooltip-enable='tooltipEnabled()'
  span.label.label-primary<
    a.label-link ng-if='linkable' href='#' ui-sref='org.projects.show({ orgName: organization.name, projectName: project.name })' {{ getLabel() }}
    span ng-if='!linkable' {{ getLabel() }}
