%h2= t('.title')
.testSelector{ data: { module: :testSelector, config: @test_selector_config.to_json } }
.testsTable{ data: { module: :testsTable, config: { path: api_tests_path, search: @test_search_config }.to_json } }
