%h2
  = @test_info.name
  %small.monospace= @test_info.key.key
%div{ data: { module: :testWidgets, config: @test_widgets_config.to_json } }
#testInfo{ data: { module: :testInfo, config: @test_info.to_client_hash.to_json } }
