.jumbotron
  h1
    color #000000

.apiId
  font-family Monospace
  &.label-info
    color #ffffff

.empty, .loading
  font-style italic
  color #999999

.pagination
  float right
  a
    cursor pointer
