.jumbotron
  h1
    color #000000

.apiId
  font-family Monospace
  &.label-info
    color #ffffff

.empty, .loading
  font-style italic
  color #999999

.pagination
  float right
  a
    cursor pointer

ul.nav-pills
  li.instructions
    .message
      padding 10px 15px
      color #777777

.label-link
  color white

  &:hover
    color white