/* Override of vendor/assets/stylesheets/angular-loading-bar.css to account for navbar. */

#loading-bar .bar
  top 52px
  height 5px

#loading-bar .peg
  height 5px

#loading-bar-spinner
  top 65px /* original: 10px, navbar: 52px, loading bar: +3px */
