/* Override of vendor/assets/stylesheets/angular-loading-bar.css to account for navbar. */

#loading-bar .bar
  top 60px
  height 5px

#loading-bar .peg
  height 5px

#loading-bar-spinner
  top 73px /* original: 10px, navbar: 60px, loading bar: +3px */
