table thead .sorting, table thead .sorting-asc, table thead .sorting-desc
  cursor pointer
         
table thead .sorting
  background url('sort/sort_both.png') no-repeat center right
table thead .sorting-asc
  background url('sort/sort_asc.png') no-repeat center right
table thead .sorting-desc
  background url('sort/sort_desc.png') no-repeat center right
