.fade-in-out
  opacity 1

.fade-in-out.ng-hide
  opacity 0

.fade-in-out.ng-hide-add, .fade-in-out.ng-hide-add-active,
.fade-in-out.ng-hide-remove-add, .fade-in-out.ng-hide-remove-active
  transition all 0.5s ease-in-out
