- if @links.present?
  %ul.nav.navbar-nav.nav-links.navbar-left
    %li.dropdown.brand-dropdown
      %a.dropdown-toggle{ :href => '#', :'data-toggle' => 'dropdown' }
        %span.glyphicon.glyphicon-align-justify
      %ul.dropdown-menu
        - @links.each do |l|
          %li= link_to l['name'], l['url']
.navbar-header
  %a.navbar-brand{ :href => root_path }= t('common.title')
