%title= human_window_title
= stylesheet_link_tag "application", :media => "all"
= javascript_include_tag "application"
= csrf_meta_tags
%meta{ name: :viewport, content: 'width=device-width, initial-scale=1.0' }
%meta{ name: :rootPath, content: root_path(locale: nil) }
%meta{ name: :homePath, content: home_path }
- if user_signed_in?
  %meta{ name: :session, content: {}.to_json }
